:root{
    font-size: 62.5%;
    --font-mulish: "Mulish", sans-serif;
    --white: #F9F4FB;
    --pink-font: #B52184;
    --blue-font: #312D64;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
    font-family: var(--font-mulish);
}

header{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > img{
    margin-bottom: 1.7rem;
}

header > div > h1{
    color: var(--pink-font);
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

header > div > p{
    color: var(--blue-font);
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
}

header > div > a{
    display: flex;
    justify-content: center;
    padding-bottom: 9.3rem;
}

.cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5.0rem;
}

.cards > div{
    background-color: #fff;
    width: 35.2rem;
    height: 33.7rem;
    margin: 0 auto;
    border-radius: 1.9rem;
    box-shadow: 0px 3.311px 13.243px 0px rgba(0, 0, 0, 0.25);
}

.cards > div:nth-child(1){
    margin-top: 5.2rem;
}

.cards > div:nth-child(3){
    margin-bottom: 5.5rem;
}

.cards > div > img{
    padding: 2.6rem 0 2rem 2.6rem;
}

.title-cards{
    color: var(--pink-font);
    font-size: 2.9rem;
    font-weight: 900;
    padding: 0 0 1.9rem 2.6rem;
}

.text-cards{
    color: var(--blue-font);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0 0 2.6rem 2.6rem;
}

.contact{
    background-color: var(--white);
}

.contact > form > fieldset{
    display: flex;
    flex-direction: column;
}

.contact > form > fieldset > input{
    border-radius: 1.6rem;
    padding: 1.2rem 1.6rem 1.2rem 1.4rem;
    align-items: center;
    border: 1px solid var(--blue-font);
    width: 34.8rem;
    height: 4.8rem;
    margin: 0 auto 2.4rem;
}

.contact > form > fieldset > label{
    display: none;
}

.contact > form > fieldset > legend {
    color: var(--pink-font);
    font-size: 3.2rem;
    font-weight: 900;
    padding: 4rem 0 4.3rem 4.0rem;
}

.contact > form > fieldset > button{
    background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
    margin: 0 0 7.5rem 4.1rem;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
    border-radius: 1.6rem;
    width: 16rem;
    height: 4.8rem;
    line-height: 2.4rem;
}

.contact > form > fieldset > input::placeholder{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 140%;
    color: var(--blue-font);
}

.nome-img{
    background-image: url(./assets/person.png);
    background-size: 20px 20px; 
    background-position: 10px center; 
    background-repeat: no-repeat; 
    padding-left: 4.0rem;
    text-indent: 1.9rem;
}

.email-img {
    background-image: url(./assets/email.png);
    background-size: 20px 20px; 
    background-position: 10px center; 
    background-repeat: no-repeat; 
    padding-left: 4.0rem; 
    text-indent: 1.9rem;
}

#msg{
    padding-bottom: 9.8rem;
}

#msg::placeholder{
    padding: 1.2rem 0 auto 1.6rem;
}

fieldset{
    border: none;
}

footer{
    height: 1rem;
}

footer p{
    color: #fff;
    padding: 1.6rem;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 600;
}

.effects-contact{
    display: none;
}

.img-desk{
    display: none;
}

@media (min-width: 1024px){
    header{
        flex-direction: row-reverse;
        justify-content: space-evenly;
        padding-bottom: 6rem;
    }
   
    .img-mobi{
        display: none;
    }

    .img-desk{
        display: block;
    }

    .buton-seta{
        display: block;
        margin-top: 16rem;
        padding-bottom: 0;
    }

    header > div > h1{
        font-size: 5.8rem;
    }

    header > div > p{
        font-size: 3.2rem;
    }

    .cards{
        grid-template-columns: 1fr 1fr 1fr;
        margin: 6.4rem 0;
    }

    .cards > div:nth-child(1){
        margin-top: 0;
    }
    
    .cards > div:nth-child(3){
        margin-bottom: 0;
    }
  

    .contact > form > fieldset > input{
        margin: 1.5rem 4rem;
        width: 59.2rem;
    }

    .contact > form > fieldset > legend{
        padding-bottom: 3.0rem;
    }

    .contact{
        padding-left: 30rem;
        height: 600px;
        background-image: url(./assets/contact-effects-desk.png);
        background-repeat: no-repeat;
        background-position: right;
    }

    .effects-contact{
        display: block;
        position: relative;
        width: 40%;
        height: 40%;
        left: 60%;
        bottom: 540px;
    }

    footer{
        height: 50px;
    }
}